[[!meta title="Draft for 'How Tails work'"]]
[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="staging/about" rel="stylesheet" title=""]]
[[!meta robots="noindex"]]

<div class="row">

  <h1>Leave no trace on the computer</h1>

</div>

<div class="row">

  <div class="col-md-8">

  <h2>Your secure computer anywhere</h2>

  <p>Tails is installed on a USB stick that you can run on any computer
  instead of Windows or macOS. You can temporarily <em>turn you own
  computer into a secure machine</em> without modifying it or <em>stay
  safe while using someone else's computer</em>.</p>

  <!-- PIC: Tails is like a tent. You can carry it with you and use it
  anywhere! -->

  </div>

</div>

<div class="row follow">

  <div class="col-md-4"></div>

  <div class="col-md-8">

  <h2>Amnesia</h2>

  <p>Tails always starts from the same clean state and <em>everything you
  did disappears</em> automatically when you shut down Tails. You don't
  have to worry about the viruses on your Windows or about getting your
  Tails infected.</p>

  <!-- PIC: Like a tent, Tails starts empty every time and leaves no trace
  when you shut it down. -->

  <!-- MORE: Tails is configured with special care to not use the
  computer's hard-disks, even if there is some swap space on them. The
  only storage space used by Tails is in RAM, which is automatically
  erased when the computer shuts down. So you won't leave any trace on the
  computer either of the Tails system itself or what you used it for.
  That's why we call Tails "amnesic". -->

  </div>

</div>

<div class="row follow">

  <div class="col-md-8">

  <h2>Encrypted persistence</h2>

  <p>You can choose to <em>save some of your files and configuration</em>
  in an encrypted Persistence, protected by a password. You can store in
  Persistence your documents, your browser bookmarks, your emails, and
  even some additional software.</p>

  <!-- PIC: You can carry your personal things in your secure backpack and
  set them up if your tent if you want to. -->

  </div>

</div>

<div class="row follow">

  <div class="col-md-4"></div>

  <div class="col-md-8">

  <h2>Digital security toolbox</h2>

  <p>Tails includes many applications to <em>work on sensitive documents
  and communicate securely</em>. All the applications included in Tails
  work out-of-the-box and are configured with safe defaults to <em>prevent
  mistakes</em>.</p>

  <!-- PIC: Camping gear -->

  <!-- MORE:
  Tails also comes with a selection of tools to protect your data using strong
  encryption:

    - [[Encrypt your USB sticks or external
      hard-disks|doc/encryption_and_privacy/encrypted_volumes]] using <span
      class="definition">[[!wikipedia Linux_Unified_Key_Setup desc="LUKS"]]</span>,
      the Linux standard for disk-encryption.

    - Automatically use HTTPS to encrypt all your communications to a number of
      major websites using [HTTPS
      Everywhere](https://www.eff.org/https-everywhere), a Firefox extension
      developed by the [Electronic Frontier Foundation](https://www.eff.org).

    - Encrypt and sign your emails and documents using the *de facto* standard
      <span class="definition">[[!wikipedia Pretty_Good_Privacy#OpenPGP desc="OpenPGP"]]</span>
      either from Tails email client, text editor or file browser.

    - Protect your instant messaging conversations using <span
      class="definition">[[!wikipedia Off-the-Record_Messaging
      desc="OTR"]]</span>, a cryptographic tool that provides encryption,
      authentication and deniability.

    - [[Securely delete your files|doc/encryption_and_privacy/secure_deletion]]
      and clean your diskspace using [[Nautilus
      Wipe|http://wipetools.tuxfamily.org/nautilus-wipe.html]].

  [[Read more about those tools in the documentation.|doc/encryption_and_privacy]]

  -->

  </div>

</div>

<div class="row follow">

  <h1>Leave no trace on the Internet</h1>

</div>

<div class="row">

  <div class="col-md-8">

  <h2>Tor for everything</h2>

  <p>Everything you do on the Internet from Tails goes through the Tor
  network. Tor secures your connection with <em>3 layers of
  encryption</em> and passes it through <em>3 servers around the
  world</em> operated by volunteers.

  <!-- PIC: Map with secret path -->

  <!-- XXX:
    - all software is configured to connect to the Internet through Tor
    - if an application tries to connect to the Internet directly, the
      connection is automatically blocked for security.
  -->

  </div>

</div>

<div class="row follow">

  <div class="col-md-4"></div>

  <div class="col-md-8">

  <h2>Avoid online surveillance and censorship</h2>

  <p>Tor prevents someone watching your Internet connection from learning
  <em><i>what</i> you are doing on the Internet</em>. You can avoid
  censorship because it is <em>impossible for a censor to know</em> which
  sites you are visiting.</p>

  </div>

</div>

<div class="row follow">

  <div class="col-md-8">

  <h2>Change identity and avoid tracking</h2>

  <p>Tor also prevents the websites that you are visiting from learning
  <em><i>where</i> and <i>who</i> you are</em>, unless you tell them. You
  can visit websites <em>anonymously or change your identity</em>. Online
  trackers won't be able to follow you around from one site to another
  anymore.</p>

  </div>

</div>

<div class="row follow">

  <h1>Software for freedom</h1>

</div>

<div class="row">

  <div class="col-md-8">

  <h2>Security that comes for free</h2>

  <p>Because nobody should have to pay to be safe while using a computer,
  we are giving out Tails for free and try to make it easy to use by
  anybody.  We are a nonprofit and diverse community. Our work is funded
  by donations from people like you and organizations that support
  Internet freedom.</p>

  </div>

</div>

<div class="row follow">

  <div class="col-md-4"></div>

  <div class="col-md-8">

  <h2>Transparency to build trust</h2>

  <p>Our work and all the code of our software is public so that you don't
  have to trust us blindly. Independent security researchers can verify
  that Tails really works the way it should.

  </div>

</div>

<div class="row follow">

  <div class="col-md-8">

  <h2>Sharing</h2>

  <p>Tails stands on the shoulders of giants. Tails is based on the Tor
  network, the Debian operating system, and the GNOME desktop environment.
  We share back our improvements with these projects and others whenever
  possible so that many more people can benefit from our work.</p>

  </div>

</div>
