[[!meta title="Structure for a new homepage"]]
[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="staging/home" rel="stylesheet" title=""]]
[[!meta robots="noindex"]]

<div class="row">

<h1>Tails is a portable operating system that protects your privacy and avoids
censorship.</h1>

</div>

<div class="row">

<h2>Install Tails on a USB stick and run it on any computer instead of Windows
or macOS.</h2>

</div>

<div class="row">

<div class="col-md-4">

<h3>Your secure computer anywhere</h3>

<p>Turn your own computer into a secure machine or stay safe while using
someone else's computer.</p>

</div>

<div class="col-md-4">

<h3>Avoid surveillance and censorship</h3>

<p>Tails uses the Tor network to protect your privacy online and avoid
censorship.</p>

</div>

<div class="col-md-4">

<h3>No ads, no viruses, no tracking</h3>

<p>Enjoy the Internet like it should be.</p>

</div>

</div>

<div class="row">

<div class="col-md-4">

<h3>Digital security toolbox</h3>

<p>Tails includes a selection of tools to work on sensitive documents and communicate
securely.</p>

</div>

<div class="col-md-4">

<h3>Secure by default</h3>

<p>Tails and all its tools are configured with security in mind to make them
easy to use and prevent mistakes.</p>

</div>

<div class="col-md-4">

<h3>Free software</h3>

<p>You can download Tails for free and independent researchers can audit our
work.</p>

</div>

</div>
