<div>[[!meta title="News"]]</div>

<ul id="news-subscriptions">

<li>
  <p>Subscribe to the [[amnesia-news mailing
  list|about/contact#amnesia-news]] to receive the same news
  by email:</p>
  <form method="POST" action="https://www.autistici.org/mailman/subscribe/amnesia-news">
          <input class="text" name="email" value=""/>
          <input class="button" type="submit" value="Subscribe"/>
  </form>
</li>

<li>
  <p>Follow us on Twitter <a href="https://twitter.com/tails_live">@Tails_live</a>.</p>
</li>

</ul>

<div>
[[!inline pages="page(news/*) and !news/*/* and !news/discussion and (currentlang() or news/report_2* or news/test_*)" show="10" sort="-meta(date) age -path"]]
</div>

<div>
[[!inline pages="page(news/*) and !news/*/* and !news/discussion and (currentlang() or news/report_2* or news/test_*) and tagged(announce)"
show="10" feeds="yes" feedonly="yes" feedfile="emails" sort="-meta(date) age -path"]]
</div>
