[[!meta title="Partners"]]

<p>These organizations, companies and individuals provide financial support
to Tails through grants or donations. Thanks to their
substantial support we are able to maintain and improve Tails. Thank you!</p>

<h1>Becoming a partner</h1>

<p>Are you a company or organization and want to help Tails? [[Become a partner!|partners/become/]]<br />
Are you an individual and want to help Tails? [[We warmly welcome your donations!|donate]]</p>

<h1>Current partners</h1>

<!--
  Within a section, partners are ordered by decreasing amount.
  Partners donating the same amount are ordered by reverse chronological order.
-->

<p class="amount-range">&gt; $100&#8239;000</p>
<div class="currentpartner">
    <p class="partner partner-size-1" title="Handshake Foundation - $200 000"><a href="https://handshake.org/" target="_blank">[[!img handshake.png link="no" alt=""]]</a></p><!-- 2018-08-30 (We messed up the link to their website and only fixed on 2019-09-02.) -->
    <p class="partner partner-size-1" title="Mozilla Open Source Support - $146 530"><a href="https://mozilla.org/" target="_blank">[[!img mozilla.png link="no" alt=""]]</a></p><!-- 2019-09-06 -->
</div>

<p class="amount-range">$10&#8239;000 – $50&#8239;000</p>
<div class="currentpartner">
    <p class="partner partner-size-3" title="PrivCoin - 6 btc"><a href="https://www.privcoin.io/" target="_blank">[[!img privcoin.png link="no" alt=""]]</a></p><!-- 2019-11-17 -->
</div>

<p class="amount-range">$1&#8239;000 – $9&#8239;999</p>
<div class="currentpartner">
    <p class="partner partner-size-4" title="An individual - 7 533€">[[!img anonymous.png link="no" alt=""]]</p><!-- 2019-11-14 (heritage) -->
    <p class="partner partner-size-4" title="ThinkPenguin - $1 200"><a href="https://www.thinkpenguin.com/" target="_blank">[[!img thinkpenguin.png link="no" alt=""]]</a></p><!-- 2019-12-18 -->
    <p class="partner partner-size-4" title="A group of people - 1 000€">[[!img anonymous.png link="no" alt=""]]</p><!-- 2019-04-05 -->
    <p class="partner partner-size-4" title="TOP10VPN - $1 000"><a href="https://www.top10vpn.com/" target="_blank">[[!img top10vpn.png link="no" alt=""]]</a></p><!-- 2019-09-12 -->
    <p class="partner partner-size-4" title="Cooltechzone - $1 000"><a href="https://cooltechzone.com/" target="_blank">[[!img cooltechzone.png link="no" alt=""]]</a></p><!-- 2019-07-04 -->
    <p class="partner partner-size-4" title="VPN Review - $1 000"><a href="https://vpn-review.com/" target="_blank">[[!img vpnreview.png link="no" alt=""]]</a></p><!-- 2019-06-17 -->
    <p class="partner partner-size-4" title="The Best VPN - $1 000"><a href="https://thebestvpn.com/" target="_blank">[[!img bestvpn.png link="no" alt=""]]</a></p><!-- 2019-05-20 -->
</div>

<p class="amount-range">in-kind</p>
<div class="currentpartner">
    <p class="partner partner-in-kind" title="Tor - Server rent"><a href="https://torproject.org" target="_blank">[[!img tor.png link="no" alt=""]]</a></p>
</div>

<h1>Previous partners</h1>

<span class="clearfix"></span>
<h2>2018</h2>

<p class="amount-range">&gt; $100&#8239;000</p>
<div class="pastpartner">
    <p class="partner partner-size-1" title="Open Technology Fund - $132 390">[[!img otf.png link="no" alt=""]]</p>
</div>

<p class="amount-range">$10&#8239;000 – $50&#8239;000</p>
<div class="pastpartner">
    <p class="partner partner-size-3" title="DuckDuckGo donation challenge - $38 080">[[!img ddg.png link="no" alt=""]]</p>
    <p class="partner partner-size-3" title="ISC - 20 743€ ">[[!img isc.png link="no" alt=""]]</p><!-- 2018-09-04 -->
    <p class="partner partner-size-3" title="Anonymous donation - 4.5 btc">[[!img anonymous.png link="no" alt=""]]</p><!-- 2018-12-07 -->
    <p class="partner partner-size-3" title="Lush Digital Fund - 11 000€">[[!img lush.png link="no" alt=""]]</p>
</div>

<p class="amount-range">$1&#8239;000 – $9&#8239;999</p>
<div class="pastpartner">
    <p class="partner partner-size-4" title="Freedom of the Press Foundation - $3 954">[[!img fpf.png link="no" alt=""]]</p>
    <p class="partner partner-size-4" title="An individual - 2 000€">[[!img anonymous.png link="no" alt=""]]</p><!-- 2018-12-17 -->
    <p class="partner partner-size-4" title="An individual - $2 000">[[!img anonymous.png link="no" alt=""]]</p>
    <p class="partner partner-size-4" title="Anonymous donation - 0.2 btc">[[!img anonymous.png link="no" alt=""]]</p><!-- 2018-10-17 -->
    <p class="partner partner-size-4" title="Anonymous donation - 0.196 btc">[[!img anonymous.png link="no" alt=""]]</p><!-- 2018-10-18 -->
    <p class="partner partner-size-4" title="Anonymous donation - 0.19 btc">[[!img anonymous.png link="no" alt=""]]</p><!-- 2018-10-22 -->
    <p class="partner partner-size-4" title="DeepOnion - 0.154 btc">[[!img deeponion.png link="no" alt=""]]</p><!-- 2018-08-28 -->
    <p class="partner partner-size-4" title="I2P - 0.1 btc">[[!img i2p.png link="no" alt=""]]</p>
    <p class="partner partner-size-4" title="An individual - 1 000€">[[!img anonymous.png link="no" alt=""]]</p><!-- 2018-12-18 -->
    <p class="partner partner-size-4" title="An individual - $1 000">[[!img anonymous.png link="no" alt=""]]</p><!-- 2018-12-19 -->
    <p class="partner partner-size-4" title="An individual - $1 000">[[!img anonymous.png link="no" alt=""]]</p>
</div>

<p class="amount-range">in-kind</p>
<div class="pastpartner">
    <p class="partner partner-in-kind" title="Tor - Server rent">[[!img tor.png link="no" alt=""]]</p>
</div>

<span class="clearfix"></span>
<h2>2017</h2>

<p class="amount-range">$50&#8239;000 – $99&#8239;000</p>
<div class="pastpartner">
    <p class="partner partner-size-2" title="Mozilla Open Source Support - $77 000">[[!img mozilla.png link="no" alt=""]]</p>
</div>

<p class="amount-range">$1&#8239;000 – $9&#8239;999</p>
<div class="pastpartner">
    <p class="partner partner-size-4" title="ExpressVPN - $1 000">[[!img expressvpn.png link="no" alt=""]]</p>
    <p class="partner partner-size-4" title="Anonymous donation - 0.5 btc">[[!img anonymous.png link="no" alt=""]]</p><!-- 2017-10-22 -->
    <p class="partner partner-size-4" title="Anonymous donation - 5 btc">[[!img anonymous.png link="no" alt=""]]</p><!-- 2017-10-22 -->
    <p class="partner partner-size-4" title="Anonymous donation - 0.5 btc">[[!img anonymous.png link="no" alt=""]]</p><!-- 2017-10-23 -->
    <p class="partner partner-size-4" title="Anonymous donation - 0.314 btc">[[!img anonymous.png link="no" alt=""]]</p><!-- 2017-10-31 -->
    <p class="partner partner-size-4" title="An individual - 2 000€">[[!img anonymous.png link="no" alt=""]]</p><!-- 2017-11-16 -->
    <p class="partner partner-size-4" title="Anonymous donation - 0.347 btc">[[!img anonymous.png link="no" alt=""]]</p><!-- 2017-11-25 -->
    <p class="partner partner-size-4" title="Anonymous donation - 2 btc">[[!img anonymous.png link="no" alt=""]]</p><!-- 2017-12-16 -->
    <p class="partner partner-size-4" title="Anonymous donation - 0.062 btc">[[!img anonymous.png link="no" alt=""]]</p><!-- 2017-12-17 -->
    <p class="partner partner-size-4" title="An individual - $1 000">[[!img anonymous.png link="no" alt=""]]</p><!-- 2017-12-28 -->
    <p class="partner partner-size-4" title="Anonymous donation - 0.1 btc">[[!img anonymous.png link="no" alt=""]]</p><!-- 2017-12-28 -->
</div>

<p class="amount-range">in-kind</p>
<div class="pastpartner">
<p class="partner partner-in-kind" title="Tor - Travel to Tor meeting & server rent">[[!img tor.png link="no" alt=""]]</p>
</div>

<span class="clearfix"></span>
<h2>2016</h2>

<p class="amount-range">&gt; $100&#8239;000</p>
<div class="pastpartner">
<p class="partner partner-size-1" title="Open Technology Fund - $208 800">[[!img otf.png link="no" alt=""]]</p>
</div>

<p class="amount-range">$10&#8239;000 – $49&#8239;999</p>
<div class="pastpartner">
<p class="partner partner-size-3" title="Anonymous donation - 11 609€">[[!img anonymous.png link="no" alt=""]]</p>
</div>

<p class="amount-range">$1&#8239;000 – $9&#8239;999</p>
<div class="pastpartner">
<p class="partner partner-size-4" title="An individual - $5 000">[[!img anonymous.png link="no" alt=""]]</p>
<p class="partner partner-size-4" title="Anonymous donation - 2 902€">[[!img anonymous.png link="no" alt=""]]</p>
<p class="partner partner-size-4" title="Mediapart - 2 000€">[[!img mediapart.png link="no" alt=""]]</p>
<p class="partner partner-size-4" title="An individual - 2 000€">[[!img anonymous.png link="no" alt=""]]</p>
<p class="partner partner-size-4" title="An individual - 2 000€">[[!img anonymous.png link="no" alt=""]]</p>
<p class="partner partner-size-4" title="Anonymous donation - 2 554€">[[!img anonymous.png link="no" alt=""]]</p>
<p class="partner partner-size-4" title="Anonymous donation - 1 857€">[[!img anonymous.png link="no" alt=""]]</p>
<p class="partner partner-size-4" title="Anonymous donation - 1 433€">[[!img anonymous.png link="no" alt=""]]</p>
<p class="partner partner-size-4" title="Anonymous donation - 1 161€">[[!img anonymous.png link="no" alt=""]]</p>
</div>

<p class="amount-range">in-kind</p>
<div class="pastpartner">
<p class="partner partner-in-kind" title="Google - GSoC Tails Server">[[!img gsoc.png link="no" alt=""]]</p>
<p class="partner partner-in-kind" title="Tor - Travel sponsorship & server rent">[[!img tor.png link="no" alt=""]]</p>
</div>

<span class="clearfix"></span>
<h2>2015</h2>

<p class="amount-range">$50&#8239;000 – $99&#8239;999</p>
<div class="pastpartner">
<p class="partner partner-size-2" title="Hivos International - 70 000€">[[!img hivos.png link="no" alt=""]]</p>
</div>

<p class="amount-range">$10&#8239;000 – $49&#8239;999</p>
<div class="pastpartner">
<p class="partner partner-size-3" title="DuckDuckGo - $25 000">[[!img ddg.png link="no" alt=""]]</p>
<p class="partner partner-size-3" title="Laura Poitras & Edward Snowden, Ridenhour's film award - $10 000">Laura Poitras &<br/>Edward Snowden</p>
</div>

<p class="amount-range">$1&#8239;000 – $9&#8239;999</p>
<div class="pastpartner">
<p class="partner partner-size-4" title="Freedom of the Press Foundation - $8 859">[[!img fpf.png link="no" alt=""]]</p>
</div>

<p class="amount-range">in-kind</p>
<div class="pastpartner">
<p class="partner partner-in-kind" title="Localization Lab - Translation to Farsi">[[!img localizationlab.png link="no" alt=""]]</p>
<p class="partner partner-in-kind" title="Tor - Server rent">[[!img tor.png link="no" alt=""]]</p>
</div>

<span class="clearfix"></span>
<h2>2014</h2>

<p class="amount-range">$50&#8239;000 – $99&#8239;999</p>
<div class="pastpartner">
<p class="partner partner-size-2" title="Hivos International - 70 000€">[[!img hivos.png link="no" alt=""]]</p>
<p class="partner partner-size-2" title="Access Now - 50 000€">[[!img accessnow.png link="no" alt=""]]</p>
</div>

<p class="amount-range">$10&#8239;000 – $49&#8239;999</p>
<div class="pastpartner">
<p class="partner partner-size-3" title="Freedom of the Press Foundation - $33 377">[[!img fpf.png link="no" alt=""]]</p>
<p class="partner partner-size-3" title="Open Internet Tools - $25 800">[[!img openitp.png link="no" alt=""]]</p>
</div>

<p class="amount-range">$1&#8239;000 – $9&#8239;999</p>
<div class="pastpartner">
<p class="partner partner-size-4" title="Förderung Freier Information und Software - 5 000€">[[!img ffis.png link="no" alt=""]]</p>
<p class="partner partner-size-4" title="Debian - $5 000">[[!img debian.png link="no" alt=""]]</p>
<p class="partner partner-size-4" title="Tor - $5 000">[[!img tor.png link="no" alt=""]]</p>
<p class="partner partner-size-4" title="An individual - $5 000">[[!img anonymous.png link="no" alt=""]]</p>
</div>

<p class="amount-range">in-kind</p>
<div class="pastpartner">
<p class="partner partner-in-kind" title="Mozilla - Travel to Tails hackfest">[[!img mozilla.png link="no" alt=""]]</p>
<p class="partner partner-in-kind" title="Tor - Server rent">[[!img tor.png link="no" alt=""]]</p>
</div>

<span class="clearfix"></span>
<h2>2013</h2>

<p class="amount-range">$10&#8239;000 – $49&#8239;999</p>
<div class="pastpartner">
<p class="partner partner-size-3" title="National Democratic Institute - $21 000">[[!img ndi.png link="no" alt=""]]</p>
<p class="partner partner-size-3" title="Tor - $20 000">[[!img tor.png link="no" alt=""]]</p>
</div>

<p class="amount-range">in-kind</p>
<div class="pastpartner">
<p class="partner partner-in-kind" title="Tor - Server rent">[[!img tor.png link="no" alt=""]]</p>
</div>

<span class="clearfix"></span>
<h2>2012</h2>

<p class="amount-range">in-kind</p>
<div class="pastpartner">
<p class="partner partner-in-kind" title="Tor - Server rent">[[!img tor.png link="no" alt=""]]</p>
</div>

<span class="clearfix"></span>
<h2>2011</h2>

<p class="amount-range">$10&#8239;000 – $49&#8239;999</p>
<div class="pastpartner">
<p class="partner partner-size-3" title="Tor - $10 950">[[!img tor.png link="no" alt=""]]</p>
</div>

<span class="clearfix"></span>
<h2>2010</h2>

<p class="amount-range">$1&#8239;000 – $9&#8239;999</p>
<div class="pastpartner">
<p class="partner partner-size-4" title="Tor - 8 500€">[[!img tor.png link="no" alt=""]]</p>
</div>
