[[!meta title="Riou"]]

[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="persona" rel="stylesheet" title=""]]

<div class="row">

  <p id="tag" class="col-sm-12">The Censorship Evader</p>

  <ul id="bio" class="col-sm-12">
    <li>Is studying social science in Southeast Asia</li>
    <li>Is part of a group organizing a massive protest against unpopular government policies</li>
    <li>Uses Tails to promote the protest, avoid censorship, and talk to the international press with a pseudonym</li>
  </ul>

</div>

<div class="row">

  <img src="https://git.tails.boum.org/ux/plain/personas/riou-medium.jpg" id="picture" class="col-sm-4 img-responsive">

  <div class="col-sm-8">

    <blockquote id="quote">
      To change our country and fight censorship, we're more helpful in the streets than in jail.
    </blockquote>

    <div id="primary">

      <h1>Primary goals</h1>
  
      <ul>
        <li>Access censored information online</li>
        <li>Publish sensitive information</li>
        <li>Hide their identity</li>
      </ul>

    </div>

  </div>

</div>

<div class="row">

  <div id="technology" class="col-sm-4">

    <h1>Technology use</h1>

    <ul>
      <li>Seen as tech-savvy by their group</li>
      <li>Publishes on a news website that is censored in the country</li>
      <li>Teaches others how to avoid censorship</li>
      <li>Uses social media as much as possible</li>
    </ul>

  </div>

  <div id="threats" class="col-sm-4">

    <h1>Threats</h1>
    
    <ul>
      <li>Harassment and monitoring of activists</li>
      <li>Lack of independent local press</li>
      <li>State-sponsored trolls</li>
      <li>Dissident bloggers and protesters have been jailed</li>
      <li>Internet connection is slow, unreliable, and expensive</li>
    </ul>

  </div>

  <div id="objectives" class="col-sm-4">

    <h1>Objectives</h1>
    
    <ul>
      <li>Achieve social change without being put under the spotlight</li>
      <li>Let the world know about the situation in their country</li>
      <li>Publish information that could put them in jail</li>
      <li>Empower others with privacy and security tools</li>
    </ul>

  </div>

</div>

<h1>Background information</h1>

<ul>
<li><a href="http://viettan.org/en/vietnam-cyber-dialogue-2017-report/">Viet Tan: Vietnam Cyber Dialogue 2017 Report</a></li>
<li><a href="https://opennet.net/blog/2012/09/update-threats-freedom-expression-online-vietnam">OpenNet Initiative: Update on threats to freedom of expression online in Vietnam</a></li>
<li><a href="http://internetfreedom.secondmuse.com/wp-content/uploads/2015/08/if_vietnam_v1.1.pdf">SecondMuse: Understanding Internet Freemdom - Vietnam's Digital Activits</a></li>
<li><a href="https://en.wikipedia.org/wiki/Censorship_in_Vietnam">Wikipedia: Censorship in Vietnam</a></li>
<li><a href="https://en.wikipedia.org/wiki/Internet_censorship_in_Vietnam">Wikipedia: Internet censorship in Vietnam</a></li>
<li><a href="https://www.nytimes.com/2018/06/11/world/asia/vietnamese-protest-chinese.html">The New York Times: Vietnamese Protest an Opening for Chinese Territorial Interests</a></li>
<li><a href="https://edition.cnn.com/2018/11/21/asia/singapore-the-online-citizen-defamation-intl/index.html">CNN: Singapore news portal on 'hiatus' after computers seized by police</a></li>
</ul>
