<div>[[!meta title="Install from another Tails"]]</div>

[[!meta robots="noindex"]]
[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/assistant" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/overview" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/mac-clone" rel="stylesheet" title=""]]

[[!inline pages="install/inc/overview" raw="yes" sort="age"]]

[[
<div class="panel panel-primary">
  <div class="panel-body">Let's go!</div>
</div>
|install/mac/clone]]

<div class="clearfix"></div>
